* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/*Logedin navbar show */
.loginuser{
	text-align: center;
	vertical-align: middle;
	padding: 15px 0 0 0;
	color:  #e1e1e1;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
 
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}


/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}



/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}



/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 20px 30px 0 rgba(0,0,0,0.5);
}

/* Add some padding inside the card container */
.container {
  padding: 2px ;
}

.card {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  overflow: hidden;
}

/* Add rounded corners to the top left and the top right corner of the image */


img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
     border-radius: 5px 5px 0 0;
}

.footer {

  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}



/* Bottom static Part */






/*-------contact---------*/

#contact
{
  background: #efefef;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
}

.contact-form
{
  padding: 15px;
}

::placeholder
{
  color: #999!important;
}

.follow
{
  background: #fff;
  padding: 10px;
  margin: 15px;

}

.contact-info .fa
{
  margin: 10px;
  color: #007bff;
  font-weight: bold;
}



#site-info {
  height: 3em;
  width: 100%;
  line-height: 3;
  text-align: center;
  background: #00CDCD;
  position: absolute;
  color: #fff;
  left: 0;
  bottom: 0;
}

body#checkout-page #site-info {
  position: static;
}


#content > h1,
#checkout-order-form h2 {
  font-size: 2em;
  text-align: center;
}




.message {
  display: block;
  margin: 0.5em 0;
  color: red;
}




/*   services    */

#services
{
  background: black;
  background-size: cover;
  background-position: center;
  color:#555!important;
  background-attachment: fixed;
  padding-top:50px;
  padding-bottom: 50px;
}



#services h1
{
  text-align: center;
  color:#fff!important;
  padding-bottom: 10px;
}

#services h1::after
{
  content: '';
  background:#efefef;
  display: block;
  height:3px;
  width:170px;
  margin: 20px auto 5px;
}
#services h3
{
  font-weight: 400;
  color: white;
  margin: auto;
}
#services p
{
  font-weight: 400;
  color: white;
  margin: auto;
  margin-top: 20px;
}


#services i
{
  
  color: white;
}

.icon
{
  font-size:40px;
  margin:20px auto;
  padding: 20px;
  height: 80px;
  width:80px;
  border:1px solid #fff;
  border-radius:50%;
}

.services .col-md-4:hover{
  background:#007bff;
  cursor: pointer;
  transition: 0.7s;
  
}

.overlay-right .fa
{
  cursor: pointer;
  background-color: #fff;
  color: #000;
  height: 35px;
  width: 35px;
  font-size: 20px;
  padding: 7px;
  margin-bottom: 5%;
  margin-top: 10px;;
   

}

#team .fa
{
  height:25px;
  width: 25px;
  color: #007bff !important;
  background: #fff;
  padding: 4px;
  border-radius: 50%;
}

.contact-info .fa
{
  margin: 10px;
  color: #007bff;
  font-weight: bold;
}

#about
{
  padding-top: 50px;
  padding-bottom: 50px;
  color:#555;
}


#about .btn
{
  margin-top:20px;
  margin-bottom:30px;
  
}

.about-content
{
  padding-top: 20px;
}




/*For small display size
@media(max-width: 600px){
   nav, article{
   width: 100%;
   height: auto;
   
   }*/
   
   /* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
   

